.env
.DS_Store

dist/
docs/
node_modules/

**/tsconfig.tsbuildinfo
coverage/*
.vscode/*

.DS_Store


**/messages_grpc_pb.js
**/object_grpc_pb.js

packages/object/benchmark-output.txt
*.log

packages/object/flamegraph.*